<div class="container-fluid" style="background-color:#333;color:white;">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="/default.aspx">Home</a></li>
        <li role="presentation"><a href="/myprojects.aspx">My Projects</a></li>
      </ul>
    </nav>
    <h4 class="text-muted">Rodan Sotto</h4>
    <h2 class="text-muted">Product Catalog (An Angular and Material Demo)</h2>
  </div>
</div>
<br />
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
